* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

select:focus,
button:focus,
a:focus {
  outline: none;
}

.text-black {
  color: black;
}

.text-white {
  color: white;

  a {
    color: rgb(255, 255, 255);
  }
}

.height-5 {
  height: 5rem;
}

.line {
  height: 50px;
  border-bottom: 1px solid #696969;
}

.flex-block {
  display: flex;
}

img {
  &:hover {}
}

p {
  color: #7d7c83;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

// Multiple shadows, one on the outside, another on the inside
.offset {
  background: none;
  border: 2px solid;
  font: inherit;
  transition: 0.25s;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #19bc8b;
  box-shadow:
    0.3em 0.3em 0 0 #19bc8b,
    inset 0.3em 0.3em 0 0 #19bc8b;

  &:hover,
  &:focus {
    border-color: #1973bc;
    color: #fff;
    box-shadow:
      0 0 0 0 #1973bc,
      inset 6em 3.5em 0 0 #1973bc;
  }
}

.slider {
  display: inline-block;
  padding: .75rem 1.25rem;
  color: black;
  cursor: pointer;
  // text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid black;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(black, 15%);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

// scroll
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}
